<html style='font-size: 10px;'>
<head>
<meta charset='utf-8'>

<link rel="icon" href="/favicon-32.png" sizes="32x32">
<link rel="icon" href="/favicon-57.png" sizes="57x57">
<link rel="icon" href="/favicon-76.png" sizes="76x76">
<link rel="icon" href="/favicon-96.png" sizes="96x96">
<link rel="icon" href="/favicon-128.png" sizes="128x128">
<link rel="icon" href="/favicon-192.png" sizes="192x192">
<link rel="icon" href="/favicon-228.png" sizes="228x228">

<link rel="shortcut icon" sizes="196x196" href="/favicon-196.png">

<link rel="apple-touch-icon" href="/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon" href="/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/favicon-180.png" sizes="180x180">

<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/favicon-144.png">

<meta name="msapplication-config" content="/browserconfig.xml" />

<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">

<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
<script defer src="https://kit.fontawesome.com/af1ff1297a.js"></script>

<base href='/' />

<title>myRecalls</title>

</head>

<body style='font-size: 10px;'>
<noscript>We're sorry! But you need to enable JavaScript to view myRecalls.</noscript>
<div id='root'></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.3.2/moment-duration-format.min.js" integrity="sha256-M2KULKSJyw+G0068JiMlM9GX4XpLdUButSzBqntKDZM=" crossorigin="anonymous"></script>
<script src="<%= "https://unpkg.com/react@16/umd/react." + htmlWebpackPlugin.options.react + ".js" %>"></script>
<script src="<%= "https://unpkg.com/react-dom@16/umd/react-dom." + htmlWebpackPlugin.options.react + ".js" %>"></script>
<script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
</body>
</html>